.elements__icon {
  background-image: url('../../../images/Group.svg');
  border: 0;
  background-color: white;
  padding: 0;
  margin: 0;
  width: 22px;
  height: 19px;
  align-self: flex-end;
}

.elements__icon:hover {
  opacity: 0,5;
  cursor: pointer;
}
