.profile {
  padding-top: 36.25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 880px;
  margin: auto;
}

@media screen and (max-width: 920px) {
  .profile {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 650px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
}
