.popup__content {
  padding-left: 36px;
  width: 430px;
  height: 330px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 520px) {
  .popup__content {
    width: 282px;
    height: 322px;
  }
}
